<div id="cookie-popup" class="cookie-popup">
    <div class="popup-wrapper">
        <h2 class="popup-title">Cookies Policy</h2>
        <p class="cookie-class">We use cookies to improve your experience on our website. By browsing this website, you agree to our use of cookies.</p>
        <div class="cookie-buttons">
            <button id="accept-cookies" class="btn-accept">ACCEPT COOKIES</button>
            <button id="decline-cookies" class="btn-decline">DECLINE COOKIES</button>
        </div>
    </div>
</div>