<!-- Hero -->
 <section class="hero-section">
  <div class="container">
    <h1 class="hero-title">Match in Style at Wonder Villa</h1>
<p class="hero-text">Uncover hidden tiles, decorate chic spaces, and enjoy puzzle serenity like never before</p>
<div class="swiper hero-swiper">
  <div class="swiper-wrapper hero-swiper-wrapper">
    <div class="swiper-slide hero-swiper-slide">
      <picture class="picture">
        <source srcset="
                    /img/hero/four-desk.png  1x,
                          /img/hero/four-desk@2x.png 2x
                                                " media="(min-width: 1439px)" />
        <source srcset="
                    /img/hero/four-mob.png   1x,
                          /img/hero/four-mob@2x.png 2x
                                                " media="(max-width: 1438px)" />
        <img class="hero-img" src="/img/hero/four-mob.png" alt="Wonder Villa" loading="lazy" />
      </picture>
    </div>
    <div class="swiper-slide hero-swiper-slide">
      <picture class="picture">
        <source srcset="
        /img/hero/one-desk.png  1x,
              /img/hero/one-desk@2x.png 2x
                                    " media="(min-width: 1439px)" />
        <source srcset="
        /img/hero/one-mob.png   1x,
              /img/hero/one-mob@2x.png 2x
                                    " media="(max-width: 1438px)" />
        <img class="hero-img" src="/img/hero/one-mob.png" alt="Wonder Villa" loading="lazy" />
      </picture>
    </div>
    <div class="swiper-slide hero-swiper-slide">
      <picture class="picture">
        <source srcset="
            /img/hero/two-desk.png  1x,
                  /img/hero/two-desk@2x.png 2x
                                        " media="(min-width: 1439px)" />
        <source srcset="
            /img/hero/two-mob.png   1x,
                  /img/hero/two-mob@2x.png 2x
                                        " media="(max-width: 1438px)" />
        <img class="hero-img" src="/img/hero/two-mob.png" alt="Wonder Villa" loading="lazy" />
      </picture>
    </div>
    <div class="swiper-slide hero-swiper-slide">
      <picture class="picture">
        <source srcset="
            /img/hero/three-desk.png  1x,
                  /img/hero/three-desk@2x.png 2x
                                        " media="(min-width: 1439px)" />
        <source srcset="
            /img/hero/three-mob.png   1x,
                  /img/hero/three-mob@2x.png 2x
                                        " media="(max-width: 1438px)" />
        <img class="hero-img" src="/img/hero/three-mob.png" alt="Wonder Villa" loading="lazy" />
      </picture>
    </div>
    <div class="swiper-slide hero-swiper-slide">
      <picture class="picture">
        <source srcset="
            /img/hero/four-desk.png  1x,
                  /img/hero/four-desk@2x.png 2x
                                        " media="(min-width: 1439px)" />
        <source srcset="
            /img/hero/four-mob.png   1x,
                  /img/hero/four-mob@2x.png 2x
                                        " media="(max-width: 1438px)" />
        <img class="hero-img" src="/img/hero/four-mob.png" alt="Wonder Villa" loading="lazy" />
      </picture>
    </div>
    <div class="swiper-slide hero-swiper-slide">
      <picture class="picture">
        <source srcset="
            /img/hero/five-desk.png  1x,
                  /img/hero/five-desk@2x.png 2x
                                        " media="(min-width: 1439px)" />
        <source srcset="
            /img/hero/five-mob.png   1x,
                  /img/hero/five-mob@2x.png 2x
                                        " media="(max-width: 1438px)" />
        <img class="hero-img" src="/img/hero/five-mob.png" alt="Wonder Villa" loading="lazy" />
      </picture>
    </div>
    <div class="swiper-slide hero-swiper-slide">
      <picture class="picture">
        <source srcset="
            /img/hero/six-desk.png  1x,
                  /img/hero/six-desk@2x.png 2x
                                        " media="(min-width: 1439px)" />
        <source srcset="
            /img/hero/six-mob.png   1x,
                  /img/hero/six-mob@2x.png 2x
                                        " media="(max-width: 1438px)" />
        <img class="hero-img" src="/img/hero/six-mob.png" alt="Wonder Villa" loading="lazy" />
      </picture>
    </div>

    <div class="swiper-slide hero-swiper-slide">
      <picture class="picture">
        <source srcset="
            /img/hero/seven-desk.png  1x,
                  /img/hero/seven-desk@2x.png 2x
                                        " media="(min-width: 1439px)" />
        <source srcset="
            /img/hero/seven-mob.png   1x,
                  /img/hero/seven-mob@2x.png 2x
                                        " media="(max-width: 1438px)" />
        <img class="hero-img" src="/img/hero/seven-mob.png" alt="Wonder Villa" loading="lazy" />
        
      </picture>
    </div>
 
      </div>
  </div>
 </section>
 <!-- Game Description -->
  <article class="game-section">
    <div class="container">
      <h2 class="game-title">Game Description</h2>
      <p class="game-text">Wonder Villa is the coziest tile match game where design meets puzzle fun. Relax, match tiles, and make your dream villa
      shine with style!</p>
    </div>
  </article>
  <!-- How to Play -->
<section class="play-section">
  <div class="container">
    <h2 class="play-title">How to Play</h2>
    <ul class="play-list">
      <li class="play-item">
       <img class="play-item-img" src="/img/play/one.png" alt="Tap" loading="lazy" />
       <p class="play-item-name">Tap to Match</p>
       <p class="play-item-text">Select three matching tiles to clear them.</p>
      </li>
      <li class="play-item">
        <img class="play-item-img" src="/img/play/two.png" alt="Power-Ups" loading="lazy" />
        <p class="play-item-name">Use Power-Ups</p>
        <p class="play-item-text">Boosters help you in tricky levels.</p>
      </li>
      <li class="play-item">
        <img class="play-item-img" src="/img/play/three.png" alt="Decorate Rooms" loading="lazy" />
        <p class="play-item-name">Decorate Rooms</p>
        <p class="play-item-text">Complete puzzles to unlock design choices.</p>
      </li>
      <li class="play-item">
        <img class="play-item-img" src="/img/play/four.png" alt="Progress" loading="lazy" />
        <p class="play-item-name">Progress Through Levels</p>
        <p class="play-item-text">Each challenge gets harder – and more rewarding!</p>
      </li>
      <li class="play-item">
        <img class="play-item-img" src="/img/play/five.png" alt="Relax and Enjoy" loading="lazy" />
        <p class="play-item-name">Relax and Enjoy</p>
        <p class="play-item-text">Cozy aesthetics make gameplay soothing.</p>
      </li>
    </ul>
  </div>
</section>
<!-- Design Your Dream Villa -->
 <section class="dream-section">
  <div class="container">
    <h2 class="dream-title">Design Your Dream Villa</h2>
    <p class="dream-text">Step into the designer’s seat! With every level you complete, unlock new furniture, color palettes, and room layouts.
    From boho chic to classic elegance — your villa, your style.</p>
    <picture class="picture">
      <source srcset="
      /img/dream/desk.png 1x,
          /img/dream/desk@2x.png 2x
                                " media="(min-width: 1439px)" />
      <source srcset="
      /img/dream/mob.png  1x,
          /img/dream/mob@2x.png 2x
                                " media="(max-width: 1438px)" />
      <img class="dream-img" src="/img/dream/mob.png" alt="Dream Villa" loading="lazy" />
    </picture>
  </div>
 </section>