<!-- Hero -->
 <section class="hero-section" id="Home">
  <div class="container">
    <h1 class="hero-title">Match in Style at Wonder Villa</h1>
<p class="hero-text">Uncover hidden tiles, decorate chic spaces, and enjoy puzzle serenity like never before</p>
<div class="swiper hero-swiper" id="Gallery">
  <div class="swiper-wrapper hero-swiper-wrapper">
    <div class="swiper-slide hero-swiper-slide">
      <picture class="picture">
        <source srcset="
                    /img/hero/four-desk.png  1x,
                          /img/hero/four-desk@2x.png 2x
                                                " media="(min-width: 1439px)" />
        <source srcset="
                    /img/hero/four-mob.png   1x,
                          /img/hero/four-mob@2x.png 2x
                                                " media="(max-width: 1438px)" />
        <img class="hero-img" src="/img/hero/four-mob.png" alt="Wonder Villa" loading="lazy" />
      </picture>
    </div>
    <div class="swiper-slide hero-swiper-slide">
      <picture class="picture">
        <source srcset="
        /img/hero/one-desk.png  1x,
              /img/hero/one-desk@2x.png 2x
                                    " media="(min-width: 1439px)" />
        <source srcset="
        /img/hero/one-mob.png   1x,
              /img/hero/one-mob@2x.png 2x
                                    " media="(max-width: 1438px)" />
        <img class="hero-img" src="/img/hero/one-mob.png" alt="Wonder Villa" loading="lazy" />
      </picture>
    </div>
    <div class="swiper-slide hero-swiper-slide">
      <picture class="picture">
        <source srcset="
            /img/hero/two-desk.png  1x,
                  /img/hero/two-desk@2x.png 2x
                                        " media="(min-width: 1439px)" />
        <source srcset="
            /img/hero/two-mob.png   1x,
                  /img/hero/two-mob@2x.png 2x
                                        " media="(max-width: 1438px)" />
        <img class="hero-img" src="/img/hero/two-mob.png" alt="Wonder Villa" loading="lazy" />
      </picture>
    </div>
    <div class="swiper-slide hero-swiper-slide">
      <picture class="picture">
        <source srcset="
            /img/hero/three-desk.png  1x,
                  /img/hero/three-desk@2x.png 2x
                                        " media="(min-width: 1439px)" />
        <source srcset="
            /img/hero/three-mob.png   1x,
                  /img/hero/three-mob@2x.png 2x
                                        " media="(max-width: 1438px)" />
        <img class="hero-img" src="/img/hero/three-mob.png" alt="Wonder Villa" loading="lazy" />
      </picture>
    </div>
    <div class="swiper-slide hero-swiper-slide">
      <picture class="picture">
        <source srcset="
            /img/hero/four-desk.png  1x,
                  /img/hero/four-desk@2x.png 2x
                                        " media="(min-width: 1439px)" />
        <source srcset="
            /img/hero/four-mob.png   1x,
                  /img/hero/four-mob@2x.png 2x
                                        " media="(max-width: 1438px)" />
        <img class="hero-img" src="/img/hero/four-mob.png" alt="Wonder Villa" loading="lazy" />
      </picture>
    </div>
    <div class="swiper-slide hero-swiper-slide">
      <picture class="picture">
        <source srcset="
            /img/hero/five-desk.png  1x,
                  /img/hero/five-desk@2x.png 2x
                                        " media="(min-width: 1439px)" />
        <source srcset="
            /img/hero/five-mob.png   1x,
                  /img/hero/five-mob@2x.png 2x
                                        " media="(max-width: 1438px)" />
        <img class="hero-img" src="/img/hero/five-mob.png" alt="Wonder Villa" loading="lazy" />
      </picture>
    </div>
    <div class="swiper-slide hero-swiper-slide">
      <picture class="picture">
        <source srcset="
            /img/hero/six-desk.png  1x,
                  /img/hero/six-desk@2x.png 2x
                                        " media="(min-width: 1439px)" />
        <source srcset="
            /img/hero/six-mob.png   1x,
                  /img/hero/six-mob@2x.png 2x
                                        " media="(max-width: 1438px)" />
        <img class="hero-img" src="/img/hero/six-mob.png" alt="Wonder Villa" loading="lazy" />
      </picture>
    </div>

    <div class="swiper-slide hero-swiper-slide">
      <picture class="picture">
        <source srcset="
            /img/hero/seven-desk.png  1x,
                  /img/hero/seven-desk@2x.png 2x
                                        " media="(min-width: 1439px)" />
        <source srcset="
            /img/hero/seven-mob.png   1x,
                  /img/hero/seven-mob@2x.png 2x
                                        " media="(max-width: 1438px)" />
        <img class="hero-img" src="/img/hero/seven-mob.png" alt="Wonder Villa" loading="lazy" />
        
      </picture>
    </div>
 
      </div>
  </div>
 </section>
 <!-- Game Description -->
  <article class="game-section" id="Game">
    <div class="container">
      <h2 class="game-title">Game Description</h2>
      <p class="game-text">Wonder Villa is the coziest tile match game where design meets puzzle fun. Relax, match tiles, and make your dream villa
      shine with style!</p>
    </div>
  </article>
  <!-- How to Play -->
<section class="play-section" id="Play">
  <div class="container">
    <h2 class="play-title">How to Play</h2>
    <ul class="play-list">
      <li class="play-item">
       <img class="play-item-img" src="/img/play/one.png" alt="Tap" loading="lazy" />
       <p class="play-item-name">Tap to Match</p>
       <p class="play-item-text">Select three matching tiles to clear them.</p>
      </li>
      <li class="play-item">
        <img class="play-item-img" src="/img/play/two.png" alt="Power-Ups" loading="lazy" />
        <p class="play-item-name">Use Power-Ups</p>
        <p class="play-item-text">Boosters help you in tricky levels.</p>
      </li>
      <li class="play-item">
        <img class="play-item-img" src="/img/play/three.png" alt="Decorate Rooms" loading="lazy" />
        <p class="play-item-name">Decorate Rooms</p>
        <p class="play-item-text">Complete puzzles to unlock design choices.</p>
      </li>
      <li class="play-item">
        <img class="play-item-img" src="/img/play/four.png" alt="Progress" loading="lazy" />
        <p class="play-item-name">Progress Through Levels</p>
        <p class="play-item-text">Each challenge gets harder – and more rewarding!</p>
      </li>
      <li class="play-item">
        <img class="play-item-img" src="/img/play/five.png" alt="Relax and Enjoy" loading="lazy" />
        <p class="play-item-name">Relax and Enjoy</p>
        <p class="play-item-text">Cozy aesthetics make gameplay soothing.</p>
      </li>
    </ul>
  </div>
</section>
<!-- Design Your Dream Villa -->
 <section class="dream-section" >
  <div class="container">
    <h2 class="dream-title">Design Your Dream Villa</h2>
    <p class="dream-text">Step into the designer’s seat! With every level you complete, unlock new furniture, color palettes, and room layouts.
    From boho chic to classic elegance — your villa, your style.</p>
    <picture class="picture">
      <source srcset="
      /img/dream/desk.png 1x,
          /img/dream/desk@2x.png 2x
                                " media="(min-width: 1439px)" />
      <source srcset="
      /img/dream/mob.png  1x,
          /img/dream/mob@2x.png 2x
                                " media="(max-width: 1438px)" />
      <img class="dream-img" src="/img/dream/mob.png" alt="Dream Villa" loading="lazy" />
    </picture>
  </div>
 </section>
 <!-- User Reviews -->
<section class="reviews-section" id="Reviews">
  <div class="container">
    <h2 class="reviews-title">User Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img class="reviews-item-img" src="/img/reviews/one.png" alt="Eric M." loading="lazy"/>
        <p class="author-reviews">Eric M.</p>
        <p class="text-reviews">“Super cute and addictive. I love the interior designs!”</p>
      </li>
      <li class="reviews-item">
        <img class="reviews-item-img" src="/img/reviews/two.png" alt="Margo G." loading="lazy" />
        <p class="author-reviews">Margo G.</p>
        <p class="text-reviews">“A calming experience after work. Just what I needed.”</p>
      </li>
      <li class="reviews-item">
        <img class="reviews-item-img" src="/img/reviews/three.png" alt="Neo T." loading="lazy" />
        <p class="author-reviews">Neo T.</p>
        <p class="text-reviews">“Love the puzzles and the decoration combo. So creative!”</p>
      </li>
      <li class="reviews-item">
        <img class="reviews-item-img" src="/img/reviews/four.png" alt="Jenna L." loading="lazy" />
        <p class="author-reviews">Jenna L.</p>
        <p class="text-reviews">“Perfect for relaxing and the visuals are beautiful.”</p>
      </li>
    </ul>
  </div>
</section>
<!-- FAQ -->
<section class="faq-section" id="FAQ">
  <div class="container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-acc">
      <li class="faq-acc-el faq-current">
        <h3 class="faq-acc-el-title">
          <button type="button" class="faq-acc-el-trigger">
            Is Wonder Villa free to play?
    
            <span class="faq-acc-arr arr-down">
              <svg width="36" height="37" viewBox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 18.3862H27M18 27.3862V9.38623" stroke="black" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
               </svg>
            </span>
          </button>
        </h3>    
        <p class="faq-acc-el-descr-frame">Yes! The game is free with optional in-app purchases.</p>
      </li>
      <li class="faq-acc-el faq-current">
        <h3 class="faq-acc-el-title">
          <button type="button" class="faq-acc-el-trigger">
          Can I decorate my own villa?
      
            <span class="faq-acc-arr arr-down">
              <svg width="36" height="37" viewBox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 18.3862H27M18 27.3862V9.38623" stroke="black" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
          </button>
        </h3>
        <p class="faq-acc-el-descr-frame">Absolutely — every level unlocks new design items for your villa.</p>
      </li>
      <li class="faq-acc-el faq-current">
        <h3 class="faq-acc-el-title">
          <button type="button" class="faq-acc-el-trigger">
            Is an internet connection required?
      
            <span class="faq-acc-arr arr-down">
              <svg width="36" height="37" viewBox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 18.3862H27M18 27.3862V9.38623" stroke="black" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
          </button>
        </h3>
        <p class="faq-acc-el-descr-frame">Only for syncing progress and updates — otherwise, you can play offline.</p>
      </li>
      <li class="faq-acc-el faq-current">
        <h3 class="faq-acc-el-title">
          <button type="button" class="faq-acc-el-trigger">
            Are there boosters in the game?
            <span class="faq-acc-arr arr-down">
              <svg width="36" height="37" viewBox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 18.3862H27M18 27.3862V9.38623" stroke="black" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
          </button>
        </h3>
        <p class="faq-acc-el-descr-frame">Yes, use fun boosters to beat difficult puzzles.</p>
      </li>
      <li class="faq-acc-el faq-current">
        <h3 class="faq-acc-el-title">
          <button type="button" class="faq-acc-el-trigger">
            How often are new levels added?
            <span class="faq-acc-arr arr-down">
              <svg width="36" height="37" viewBox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 18.3862H27M18 27.3862V9.38623" stroke="black" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
          </button>
        </h3>
        <p class="faq-acc-el-descr-frame">New levels and content are added regularly — stay tuned!</p>
      </li>
  </div>
</section>
<!-- Turn Puzzles into Paradise -->
<section class="puzzles-section">
  <div class="container">
<h2 class="puzzles-title">Turn Puzzles into Paradise</h2>
<p class="puzzles-text">Match, relax, and design the villa of your dreams today</p>
  </div>
</section>