/* Hero */
.hero-section{
  height: 1120px;
  background-image: url("/img/hero-mob.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: 1000px;
}
.hero-section::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
  pointer-events: none;
  height: 1100px;
}
.hero-title{
  margin-top: 230px;
  font-family: "ArialRoundedMTBold", sans-serif;
  font-weight: 400;
font-size: 22px;
margin-bottom: 16px;
}
.hero-text{
  width: 253px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 340px;
}
.hero-swiper-wrapper{
  padding-top: 30px;
  padding-bottom: 30px;
}
.hero-swiper-wrapper .swiper-slide {
  width: 40%;
  transition: transform 0.3s ease, filter 0.3s ease;
  transform: scale(0.8);
  z-index: 1;
}
.hero-swiper-slide{
  cursor: pointer;
}
.hero-swiper-wrapper .swiper-slide.is-center {
  transform: scale(1.2);
  z-index: 10;
}
@media only screen and (min-width: 1439px) {
.hero-section {
height: 1120px;
background-image: url("/img/hero-desk.png");
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
height: 1100px;
} 
.hero-section::before {
 content: none;
background: none;
} 
.hero-title {
  margin-top: 189px;
  font-size: 43px;
  margin-bottom: 24px;
  text-align: center;
}
.hero-text {
  width: 631px;
  margin-bottom: 536px;
}
.hero-swiper-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.hero-swiper-wrapper .swiper-slide {
  width: 100%;
  transition: transform 0.3s ease, filter 0.3s ease;
  transform: scale(0.8);
  z-index: 1;
}
}
/* Game Description */
.game-title{
  margin-bottom: 24px;
}
.game-text{
  text-align: center;
}
@media only screen and (min-width: 1439px) {
  .game-title {
      margin-bottom: 40px; 
      margin-top: 200px;
}
.game-text {
   width: 631px;
   margin-left: auto;
   margin-right: auto;
 }
}
/* How to Play */
.play-title{
  margin-bottom: 24px;
}
.play-list{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.play-item{
  border-radius: 24px;
    padding: 24px;
    width: 316px;
    height: 220px;
    background: #c4e9fb;
    display: flex;
      flex-direction: column;
      gap: 16px;
}
.play-item-img{
  width: 50px;
  height: 50px;
}
.play-item-name{
  font-weight: 700;
    font-size: 20px;
}
@media only screen and (min-width: 1439px) {
  .play-title {
      margin-bottom: 40px;
}
.play-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.play-item {
  width: 368px;
}
}
/* Design Your Dream Villa */
.dream-title{
  margin-bottom: 24px;
  text-align: left;
}
.dream-img{
  margin-top: 24px;
}
@media only screen and (min-width: 1439px) {
  .dream-title {
 margin-left: 460px;
 } 
 .dream-text{
  width: 631px;
  margin-right: 60px;
  margin-left: auto;
 }
 .dream-img{
  margin-top: -158px;
 }
}
/* User Reviews */
.reviews-title{
  margin-bottom: 24px;
}
.reviews-list{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.reviews-item{
  display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 24px;
      padding: 24px;
      width: 316px;
      height: 208px;
      background: #c4e9fb;
}
.reviews-item-img{
  width: 50px;
  height: 50px;
}
.author-reviews{
  font-weight: 700;
    font-size: 20px;
}
@media only screen and (min-width: 1439px) {
  .reviews-title{
    margin-bottom: 40px;
  }
  .reviews-list{
    flex-direction: row;
  }
.reviews-item{
  width: 270px;
    height: 250px;
    }
}
/* FAQ */
.faq-title{
  margin-bottom: 24px;
}
.faq-acc {
  display: flex;
  flex-direction: column;
  width: 312px;
  margin: 0 auto;
  gap: 10px;
}

.faq-acc-el {
  position: relative;
  transition: margin-bottom 0.3s ease;
}

.faq-acc-el-trigger {
  background: inherit;
  border: none;
  width: 312px;
  padding: 10px 0;
  height: auto;
  font-size: 16px;
  font-weight: 700;
   cursor: pointer;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-acc-arr {
  display: flex;
  align-items: center;
  justify-content: center;
  background: inherit;
  transition: transform 0.3s ease;
}

.faq-acc-arr.is-hidden {
  display: none;
}

.faq-acc-el-descr-frame {
border: none;
  background: inherit;
  padding: 10px 0;
  width: 312px;
  text-align: left;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease, border-bottom 0.3s ease;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
  visibility: hidden;
}

.faq-acc-el.open .faq-acc-el-descr-frame {
  visibility: visible;
  padding: 10px 0;
  opacity: 1;
   border-bottom: 1px solid #000;
  width: 312px;
  max-height: 500px;
  margin-bottom: 16px;
}
@media only screen and (min-width: 1439px) {
 .faq-title{
  margin-bottom: 40px;
 }
 .faq-acc{
  width: 633px;
 }
 .faq-acc-el-trigger {
  width: 633px;
  font-size: 20px;
 }
 .faq-acc-el-descr-frame {
  width: 633px;
 }
 .faq-acc-el.open .faq-acc-el-descr-frame {
  width: 633px;
 }
}
/* Turn Puzzles into Paradise */
.puzzles-title{
  margin-bottom: 24px;
}
.puzzles-text{
  text-align: center;
}
